.container {
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container .input {
    width: 360px;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
}